/* On-screen Keyboard */

$key_size: 1.2em;
$key_border_radius: $base_border_radius;
$key_bg_color:  darken($osd_fg_color, 70%);
// $default_key_bg_color: darken($key_bg_color, 4%);
$default_key_bg_color: if($variant=='light', darken($key_bg_color, 11%), darken($key_bg_color, 10%));


// draw keys using button function
#keyboard {
  // background-color: transparentize(if($variant=='light', darken($bg_color, 5%), darken($bg_color, 8%)), 0.1);
//  background-color: $osd_bg_color;
background-color: #242424;
  box-shadow: inset 0 1px 0 0 $osd_outer_borders_color;

  padding-top: 8px;

  .page-indicator {
    padding: $base_padding;

    .page-indicator-icon {
      width: 8px;
      height: 8px;
    }
  }
}

#uiGroup.mobile .key-container {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

// the container for individual keys
.key-container {
  padding: 4px;
}

// the keys
.keyboard-key {
  @include fontsize($base_font_size + 5);
  font-weight: bold;
  border-radius: $key_border_radius;

  @include keyboard_key(normal, $key_bg_color, $osd_fg_color);

  &:focus { @include keyboard_key(focus);}
  &:hover { @include keyboard_key(hover, $key_bg_color, $osd_fg_color);}
  &:active { @include keyboard_key(active, $key_bg_color, $osd_fg_color); }
  &:checked { @include keyboard_key(active, $key_bg_color, $osd_fg_color); }

  &:grayed { //FIXMEy
    background-color: darken($bg_color, 3%);
    color: $osd_fg_color;
    border-color: $osd_borders_color;
  }

  // non-character keys
  &.default-key {
    @include keyboard_key(normal, $default_key_bg_color, $osd_fg_color);
    &:hover {@include keyboard_key(hover, $default_key_bg_color, $osd_fg_color);}
    &:active { @include keyboard_key(active, $default_key_bg_color, $osd_fg_color);}
    &:checked { @include keyboard_key(checked, $default_key_bg_color, $osd_fg_color);}
    border-radius: $key_border_radius;

    // keys that may be latched: ctrl/alt/shift
    &:latched {
      border-color: lighten($selected_bg_color, 5%);
      background-color: $selected_bg_color;
    }
  }

  // enter key is suggested-action
  &.enter-key {
    @include keyboard_key(normal, $selected_bg_color, $selected_fg_color);
    &:hover { @include keyboard_key(hover, $selected_bg_color, $selected_fg_color);}
    &:active {@include keyboard_key(active, $selected_bg_color, $selected_fg_color);}
    &:checked {@include keyboard_key(checked, $selected_bg_color, $selected_fg_color);}
    border-radius: $key_border_radius;
    color: $osd_fg_color;
  }

  &.action-levelSwitch {
    @include fontsize($base_font_size + 2);
  }

  // size of icons on keys
  StIcon { icon-size: 24px; }
}

// long press on a key popup
.keyboard-subkeys {
  -arrow-border-radius: $base_border_radius*2;
  -arrow-background-color: $osd_bg_color;
  -arrow-border-width: 1px;
  -arrow-border-color: lighten($osd_bg_color, 9%);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: $base_padding;
  padding: $base_padding;

  .keyboard-key {
    @include keyboard_key(normal, $key_bg_color, $osd_fg_color);

    &:focus { @include keyboard_key(focus);}
    &:hover { @include keyboard_key(hover, $key_bg_color, $osd_fg_color);}
    &:active { @include keyboard_key(active, $key_bg_color, $osd_fg_color); }
    &:checked { @include keyboard_key(checked, $key_bg_color, $osd_fg_color); }

    border-radius:$key_border_radius;
  }
}

// emoji
.emoji-panel {
  .keyboard-key {
    &.emoji {
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 2px;
      padding-bottom: 2px;

      @include keyboard_key(undecorated, transparent, transparent);

      &:hover { @include keyboard_key(hover, $key_bg_color, $osd_fg_color); }
      &:active { @include keyboard_key(active, $key_bg_color, $osd_fg_color); }
      &:checked { @include keyboard_key(active, $key_bg_color, $osd_fg_color); }
    }

    &.bottom-row-key {
      @include keyboard_key(normal, transparent, $osd_fg_color);
      StIcon { icon-size: 16px; }

      @include fontsize($base_font_size + 2);
    }

    &.bottom-row-key {
      &:hover { @include keyboard_key(hover, $default_key_bg_color, $osd_fg_color); }
      &:latched { @include keyboard_key(checked, $default_key_bg_color, $osd_fg_color); }
    }
  }
}

// suggestions
.word-suggestions {
  @include fontsize($base_font_size + 1);
  spacing: 12px;
  //min-height: 28px; // size of a button
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;

  // each suggestion
  StButton {
//    margin: 0px;
//    min-width: 32px;
  color: $osd_fg_color;
    border-radius: $base_border_radius - 2px;
    padding: $base_padding $base_padding*2;
    transition-duration: 100ms;

      @include keyboard_key(undecorated, transparentize($key_bg_color, 0.5), $osd_fg_color);


    &.has-suggestion {
      @include keyboard_key(normal, transparentize($key_bg_color, 0.5), $osd_fg_color);
    }

    &:focus { @include keyboard_key(focus);}
    &:hover { @include keyboard_key(hover, $key_bg_color, $osd_fg_color);}
    &:active { @include keyboard_key(active, $key_bg_color, $osd_fg_color); }
    &:checked { @include keyboard_key(checked, $key_bg_color, $osd_fg_color); }
  }
}
