// Rubberband for select-area screenshots
.select-area-rubberband {
  background-color: transparentize($selected_bg_color,0.7);
  border: 1px solid $selected_bg_color;
}

// User icon
.user-icon {
  background-size: contain;
  color: $osd_fg_color;
  border-radius: 99px;
  icon-size: $base_icon_size * 4; // 64px

  & StIcon {
    background-color: transparentize($osd_fg_color,0.95);
    border-radius: 99px;
    padding: $base_padding * 2 ; // 12px
    width: $base_icon_size * 2.5; height:  $base_icon_size * 2.5; // 40px;
  }

  &.user-avatar {
    box-shadow:inset 0 0 0 1px transparentize($osd_fg_color, 0.9);
    @if $is_highcontrast {
      box-shadow:inset 0 0 0 1px $hc_inset_color;
    }
  }
}

.lightbox { background-color: black; }
.flashspot { background-color: white; }

// Hidden
.hidden { color: transparent;}

// Caps-lock warning
.caps-lock-warning-label {
  text-align: center;
  padding-bottom: 8px;
  @extend %caption;
  color: $warning_color;
}

/* Workspace animation */

.workspace-animation {
  background-color: $system_bg_color;
}

/* Tiled window previews */
.tile-preview {
  background-color: transparentize($selected_bg_color,0.5);
  border: 1px solid $selected_bg_color;
}

.pin-unlock-keyboard {
  margin-left: 32px;
  margin-right: 32px;

  .pin-button {
    border-radius: 99px;
    width: 72px;
    height: 72px;
    margin: 6px;
    transition-duration: 200ms;

    &.icon {
      background-color: rgba(255,255,255,0.12);
      icon-size: $base_icon_size * 1.5;
    }

    &.number {
      background-color: rgba(255,255,255,0.3);
      font-size: 18pt;
      font-weight: bold;
    }
  }

  .pin-button-container:active .pin-button {
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0ms;
  }
}

.pin-entry-indicator {
  margin-top: 12px;

  .digit {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    border: solid 2px white;
    margin: 10px;
    transition-duration: 200ms;

    &.filled {
      background-color: white;
      transition-duration: 0ms;
    }
  }
}

.emergency-call-button {
  background-color: rgba(255,255,255,0.3);
  border-radius: 99px;
  font-size: 10pt;
  font-weight: bold;
  padding: 10px 10px;
  margin-top: 6px;
  margin-bottom: 10px;

  &:active {
    background-color: rgba(255,255,255,0.6);
  }

  &.unavailable {
    background-color: rgba(255,255,255,0.09);
    color: $insensitive_fg_color;
  }
}
